/* HomePage hero */

.home-hero p{
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.Hero-button{
    width: 20%;
    margin: 0 auto;
    padding: 2rem;
    font-weight: 500;
}

/* Footer */

.footer-content p{
    color: #666;
    font-size: 0.7rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

.footer-content p a{
    text-decoration: none;
}

.footer-links h1{
    font-size: 1.25rem;
    color: #424242;
}

.footer-links a{
    color: #666;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 2.3rem;
}

.footer-links a:hover{
    color: #387ed1 !important;
}

.footer-icons ul li a{
    font-size: 1.25rem;
    margin-right: 4rem;
    color: #666;
}

.footer-icons ul li a:hover{
    color: #387ed1;
    z-index: 11;
}

.footer-icons ul li{
    display: inline-block;
    width: 1.5rem;
    margin-right: 1.3rem;
}

.footer-icons ul{
    list-style-type: none;
    padding: 0;
}

.footer-icons{
    padding-right: 5rem;

}

.footer-icons .logo{
    margin-bottom: 2rem;
}

.footer-bottom-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 3rem;
    margin-bottom: 0.25rem;
}

.footer-bottom-links a{
    color: #9b9b9b;
    text-decoration: none;
    font-size: 0.75rem;
    margin-right: 1.25rem;
}

.footer-bottom-links a:hover{
    color: #387ed1;
    z-index: 266;
}

/* invalid link  */

.page-not-found{
    padding: 5rem;
}

/* about page */
.about-hero-heading{
    text-align: center;
    padding: 6.25rem 0rem 6.25rem 0rem;
}

.about-hero-heading h2{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    color: #424242;
}

.about-hero-content p a{
    text-decoration: none;
}

.team-heading{
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 5rem;
    color: #424242;
}

.profile-Photo img{
    text-align: center;
    width: 15rem;
    border-radius: 50%;
}

.Team-my-profile{
    text-align: center;
}

.Team-my-profile h2{
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: #424242;
}

.Team-my-profile p{
    margin-top: 1rem;
    color: #424242;
}

.team-about-me p a{
    text-decoration: none;
}